doctype html
html
	head
		title Demo
		meta(charset="utf-8")
		meta(name="description" content="Connexion OAuth")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="static/css/style.css")
		script(src="/js/main.js")
	body
		p.roboto Let the game begin now !!!

